extends layout

block content
    //网站主体部分
    header#hd.clearfix
        .fl.ml20.mt10
            h1
                a(ng-href="{{ init.d.type }}.html") {{ init.d.title }}
            span
                a(href="#") 前端系列开发工具
        .fr.right
            .pt20.mr20
                a(href="http://www.lyblog.net", target="_blank") 去“小天地，大世界”博客逛逛
            ul.top-nav.mt20
                li.fl.ml20
                    a(href="..") CSS帮助手册
                li.fl.ml20
                    a(href="..") jQuery 1.9系列帮助手册
                li.fl.ml20
                    a(href="..") jQuery 1.4帮助手册

    //主体部分
    section#bd
        aside#menu
            //检索表单 start
            .prototype-search
                input(type="text" placeholder="属性检索" ng-model="keyword" ng-focus="init.isSearch=true" ng-blur="searchBlur()")

            .menu-wrap(side-menu pselect='$parent.init.pselect' id='$parent.init.id')
        article#main
            .loading(ng-show="init.d.isLoading")
                i(class="icon-spin5 animate-spin" style="font-size: 14px;")
                span 加载中...
            div(class="pos" crumbs)
            .search-layer(ng-show="init.isSearch" search-layer keyword="keyword")
            div(ng-hide="init.isSearch" ng-view)