doctype html
html(ng-controller="RootController" ng-app="Docs")
  head
    title {{ title }}
    base(href="/")
    link(rel='stylesheet', href='/app/css/style.css')
    script(src="/app/script/lib/html5.js")
    script(src="http://localhost/angular-1.2.25/angular.js")
    script(src="http://localhost/angular-1.2.25/angular-route.js")
    script(src="http://localhost/angular-1.2.25/angular-resource.js")
    script(src="http://localhost/angular-1.2.25/angular-resource.js")
    script(src="http://localhost/angular-1.2.25/angular-animate.js")
    script(src="/app/script/services/services.js")
    script(src="/app/script/App.js")
    script(src="/app/script/directive/directives.js")
    script(src="/app/script/controller/RootController.js")
    script(src="/app/script/controller/AboutController.js")
    script(src="/app/script/controller/DocGuideController.js")
    script(src="/app/script/controller/DocArchiveController.js")
    script(src="/app/script/lib/pretty.js")
    script(src="/app/script/filter/toHtml.js")
  body
    block content