<div id="doc-guide" class="clearfix">
    <dl class="fl">
        <dt ng-repeat-start="items in content">
            <a ng-href="{{ $parent.init.d.type }}/{{ $parent.init.d.pselect }}/{{ items.rename }}.html">{{ items.title }}</a>
        </dt>
        <dd ng-repeat-end>
            <div ng-bind-html="items.summary | toHtml"></div>
        </dd>
    </dl>
</div>