@charset "UTF-8";

//颜色全局配置
@black: #222;
@grey: #CCC;
@red: #ff5854;
@pink: pink;
.bdrd (@radius) {
    border-radius: @radius;
}
.resetMg {
    .m(0);
}
.resetPd {
    .p(0);
}
/* A标签默认样式 */
a {
    color: rgb(64, 112, 170);
    text-decoration: none;
}
a:hover {
    color: #403ab7;
}
//浮动样式
.fl, .fr {
    float: left;
    _display: inline;
}
.fr {
    float: right;
}
//清除浮动
.clearfix {
    *zoom: 1;
}
.clearfix:before,.clearfix:after {
    display: table;
    line-height: 0;
    content: "";
}
.clearfix:after {
    clear: both;
}

//定义基础
.boxShadow(@grey) {
    -webkit-border-radius: 0 0 5px @grey;
    -moz-box-shadow: 0 0 5px @grey;
    box-shadow: 0 0 5px @grey;
}
//定义多种margin,padding值
.m(@margin) {
    margin: @margin;
}
.mt(@mt) {
    margin-top: @mt;
}
.mr(@mr) {
    margin-right: @mr;
}
.mb(@mb) {
    margin-bottom: @mb;
}
.ml(@ml) {
    margin-left: @ml;
}
.mgH(@mgH) { //水平
    margin-left: @mgH;
    margin-right: @mgH;
}
.mgV(@mgV){
    margin-top: @mgV;
    margin-bottom: @mgV;
}
.p(@p) {
    padding: @p;
}
.pl(@pl) {
    padding-left: @pl;
}
.pt(@pt) {
    padding-top: @pt;
}
.pr(@pr) {
    padding-right: @pr;
}
.pb(@pb) {
    padding-bottom: @pb;
}
.pdH(@pdH) {
    padding-left: @pdH;
    padding-right: @pdH;
}
.pdV(@pdV) {
    padding-top: @pdV;
    padding-bottom: @pdV;
}

.m5 {
    .m(5px);
}
.m10 {
    .m(10px);
}
.m15{
    .m(15px);
}
.m20{
    .m(20px);
}
.ml5 {
    .ml(5px);
}
.ml10 {
    .ml(10px);
}
.ml15 {
    .ml(15px);
}
.ml20 {
    .ml(20px);
}
.mt5 {
    .mt(5px);
}
.mt10 {
    .mt(10px);
}
.mt15 {
    .mt(15px);
}
.mt20 {
    .mt(20px);
}
.mr5 {
    .mr(5px);
}
.mr10 {
    .mr(10px);
}
.mr15 {
    .mr(15px);
}
.mr20 {
    .mr(20px);
}
.mb5 {
    .mb(5px);
}
.mb10 {
    .mb(10px);
}
.mb15 {
    .mb(15px);
}
.mb20 {
    .mb(20px);
}
.mgH5 {
    .mgH(5px);
}
.mgH10 {
    .mgH(10px);
}
.mgH15 {
    .mgH(15px);
}
.mgH20 {
    .mgH(20px);
}
.mgV5 {
    .mgV(5px);
}
.mgV10 {
    .mgV(10px);
}
.mgV15 {
    .mgV(15px);
}
.mgV20 {
    .mgV(20px);
}

.p5 {
    .p(5px);
}
.p10 {
    .p(10px);
}
.p15 {
    .p(15px);
}
.p20 {
    .p(20px);
}
.pl5 {
    .pl(5px);
}
.pl10 {
    .pl(10px);
}
.pl15 {
    .pl(15px);
}
.pl20 {
    .pl(20px);
}
.pt5 {
    .pt(5px);
}
.pt10 {
    .pt(10px);
}
.pt15 {
    .pt(15px);
}
.pt20 {
    .pt(20px);
}
.pr5 {
    .pr(5px);
}
.pr10 {
    .pr(10px);
}
.pr15 {
    .pr(15px);
}
.pr20 {
    .pr(20px);
}
.pb5 {
    .pb(5px);
}
.pb10 {
    .pb(10px);
}
.pb15 {
    .pb(15px);
}
.pb20 {
    .pb(20px);
}
.pdH5 {
    .pdH(5px);
}
.pdH10 {
    .pdH(10px);
}
.pdH15 {
    .pdH(15px);
}
.pdH20 {
    .pdH(20px);
}
.pdV5 {
    .pdV(5px);
}
.pdV10 {
    .pdV(10px);
}
.pdV15 {
    .pdV(15px);
}
.pdV20 {
    .pdV(20px);
}
/* 文字对齐方式 */
.ta (@ta) {
    text-align: @ta;
}
.center{
    .ta(center);
}
.left {
    .ta(left);
}
.right {
    .ta(right);
}