/* prettyprint样式 */
.prettyprint {
    border: 1px dashed #7171cc;
    padding:8px;
    background-color:#f7f7f9;
    line-height:25px;
    width:auto;
    min-width:95%;
    _width:95%;
}
.prettyprint.linenums {
    -webkit-box-shadow:inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0;
    -moz-box-shadow:inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0;
    box-shadow:inset 40px 0 0 #fbfbfc,inset 41px 0 0 #ececf0;
}
.old-code {
    display: none;
    border: none;
    line-height: 25px;
    letter-spacing: 1px;
}
.com {
    color:#93a1a1;
}
.lit {
    color:#195f91;
}
.pun,.opn,.clo {
    color:#93a1a1;
}
.fun {
    color:#dc322f;
}
.str,.atv {
    color:#D14;
}
.kwd,.prettyprint .tag {
    color:#1e347b;
}
.typ,.atn,.dec,.var {
    color:teal;
}
.pln {
    color:#48484c;
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
    margin:0 0 0 33px;
    /* IE indents via margin-left */
    padding-left:0;

    li {
        padding-left:12px;
        color:#bebec5;
        line-height:25px;
        text-shadow:0 1px 0 #fff;
        margin-top:0;
        margin-bottom:0;
    }
}

/*codeģʽ*/
pre.code {
    position: relative;

    textarea{
        position: absolute;
        top: 0;
        left: 41px;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 8px 0px 8px 11px;
        border: none;
        line-height: 25px;
        font-size: 13px;
        font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
        background-color: #F7F7F7;
        overflow: hidden;
        resize: none;
    }

    textarea:focus {
        border: none;
        box-shadow: none;
    }
}