/* 重置样式 */
html { color:#333; background:#FFFFFF }
body, div,  pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
img { -ms-interpolation-mode:bicubic }
address, button, caption, cite, code, dfn, em, input, optgroup, option, select, strong, textarea, th, var { font:inherit }
del, ins { text-decoration:none }
caption, th { text-align:left }
q:before, q:after { content:'' }
abbr, acronym { border:0; font-variant:normal }
sup { vertical-align:baseline }
sub { vertical-align:baseline }
legend { color:#444444 }
body { font:13px/1.231 arial, helvetica, clean, sans-serif; *font-size:small; *font:x-small;}
select, input, textarea, button { font:99% arial, helvetica, clean, sans-serif }
table { font-size:inherit; font:100% }
pre, code, kbd, samp, tt { font-family:Monaco,Menlo,Consolas,"Courier New",monospace; *font-size:108%; line-height:100% }
h1 { font-size:138.5% }
h2 { font-size:123.1% }
h3 { font-size:108% }
h1, h2, h3 { margin:1em 0 }
h4, h5, h6 { margin:0.5em 0}
h1, h2, h3, h4, h5, h6, strong, dt { font-weight:bold;}
optgroup { font-weight:normal }
abbr, acronym { border-bottom:1px dotted #444444; cursor:help }
em { font-style:italic }
del { text-decoration:line-through }
blockquote, ul, ol, dl { margin:1em }
ol { list-style:decimal outside }
ul { list-style:disc outside }
dl dd { margin-left:1em }
th, td { border:1px solid #444444; padding:.5em }
th { font-weight:bold; text-align:center }
caption { margin-bottom:.5em; text-align:center }
sup { vertical-align:super }
sub { vertical-align:sub }
p, fieldset, table, pre { margin-bottom:1em }
button, input[type="checkbox"], input[type="radio"], input[type="reset"], input[type="submit"] { padding:1px }