::-webkit-scrollbar {
    width:10px;
    height: 10px;
    border-radius: 2px;
    background-color: rgba(147, 147, 147, 0.58);
}
::-webkit-scrollbar-button {
    background: #6470d9;
    border-radius:5px;
}
::-webkit-scrollbar-track {
    background: #cdd2ff;
}

::-webkit-scrollbar-track-piece  { /* 4 */ }
::-webkit-scrollbar-thumb        {
    background: #767eff;
    border-radius: 5px;
}
::-webkit-scrollbar-corner       { /* 6 */ }
::-webkit-resizer                { /* 7 */ }