@charset "utf-8";

@import "reset";        //载入重置样式
@import "global";       //载入全局样式
@import "prettyprint";  //载入编辑器样式
@import "icon";         //载入字体图标文件
@import "scrollbar";    //载入滚动条样式

* {-webkit-transition: all 200ms linear;}
//页面正式样式开始
body {
    position: absolute;
    width: 100%;
    height: 100%;
}
/* header style */
#hd {
    position: absolute;
    width: 100%;
    height: 80px;
    background:-webkit-linear-gradient(top, #538aca, #5d9be4);

    a {
        color: #ffffff;
        text-shadow: 0 0 3px #ccc;
    }

    a:hover {
        color: #d25c4a;
    }

    h1 {
        .mgV(5px);
        font-size: 24px;
        a {
            text-shadow: 0 0 3px #aaaaaa;
        }
    }
}

.top-nav {
    list-style: none;
}
/* 正文部分 */
#bd {
    position: absolute;
    top: 90px;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 10px;
}
/* 左侧边导航 */
#menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 270px;
    height: 100%;
    overflow: hidden;
    float: left;
    .bdrd(3px);
    .boxShadow(#ccc);
}
/*左侧检索样式*/
.prototype-search {
    padding: 10px 5px;
    .boxShadow(grey);

    input {
        font-size: 12px;
        width: 100%;
        padding: 3px 5px;
        box-sizing: border-box;
        border-radius: 5px;
        line-height: 16px;
        border: 1px solid #ccc;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -moz-transition: border-color ease-in-out .15s,-moz-box-shadow ease-in-out .15s;
        -ms-transition: border-color ease-in-out .15s,-ms-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,-o-box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    input:focus {
        border-color: #8bb0d8;
        outline: none;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    }
}
/*菜单内容*/
.menu-wrap {
    padding-top: 15px;
    overflow-y: auto;
    position: absolute;
    top: 44px;
    left: 0;
    right: 0;
    bottom:0;
}
.menu-nav {
    .resetMg;
    padding-left: 15px;
    list-style: none;

    a {
        text-indent: 5px;
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-decoration: none;
        padding-top: 2px;
        padding-bottom: 2px;
        font-weight: normal;
    }

    a:hover {
        background-color: #0081c2;
        color: #fff;
    }

    i{
        position: absolute;
        left: 0;
        top: 1px;
        color: #9f68dd;
    }

    li {
        line-height: 1.2em;
        padding-left: 17px;
        position: relative;
    }

    >li {
        >a {
            font-weight: bold;
        }
    }

    li.open {
        >i{
            color: #e8976b;
        }
        >a{
            color: #d5be5b;
        }
    }
    li.selected  {
        >i{
            color: #05dd39;
        }
        >a {

        }
    }
}
.menu-nav-1 {
    .resetMg;
    padding-left: 0;
    display: none;
}
.open {
    .menu-nav-1 {
        display: block;
    }
}
/* 文档浏览部分样式 */
#main {
    position: absolute;
    top: 0;
    right: 0;
    left: 280px;
    bottom: 0;
    float: left;
    .bdrd(3px);
    .boxShadow(#bfbfbf);
    overflow: auto;
    padding-left: 10px;
    padding-right: 10px;
}


/* 文档右侧 */
.loading {
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5em;
    font-size: 14px;

    span {
        font-size: 12px;
    }
}
.pos {
    margin-top: 8px;
    line-height: 25px;
    border-bottom: 1px solid #ccc;
}
/*文档模式浏览时样式*/
#article-detail  {
    h2 {
        background-color: #4F81BD;
        color: #ffffff;
        line-height: 26px;
        padding-left: 8px;
        padding-right: 8px;
        margin: 6px 0;

        span.fr {
            font-weight: normal;
            font-size: 12px;
            color: #f0f0f0;
        }
    }

    h3 {
        font-size: 12px;
        padding-left: 8px;
        background: rgb(149,179,215);
        color: #fff;
        line-height: 24px;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 10px;
    }

    h4 {
        line-height: 22px;
        padding-left: 8px;
        background: rgb(219,229,241);
        margin-top: 0;
        margin-bottom: 10px;

        strong {
            color: #333;
            width: 360px;
            display: inline-block;
        }

        span {
            font-weight: normal;
            width: 255px;
            display: inline-block;
        }

        em {
            font-weight: normal;
            display: inline-block;
            color: #06C;
        }
    }

    h5 {
        padding-left: 8px;
    }

    p {
        text-indent: 2em;
    }

    .desc p {
        font-size: 14px;
    }

    .longdesc p {
        font-size: 12px;
    }

    .argument p {
        margin-bottom: 8px;
    }
}

/*检索弹层样式*/
.search-layer {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 100%;
    background: rgba(221, 221, 221, 0.94);
    border-radius: 4px;

    .pos {
        border-bottom: 1px solid #fff;
        .mb(5px);
    }

    h3 {
        text-indent:20px;
    }
}
/* 检索的每个条目内容 */
.search-container {
    -webkit-column-count: auto;
    -webkit-column-rule: 2px dotted #fff;
    -webkit-column-width: 220px;
    -webkit-column-gap:10px;
    -webkit-column-span: all; /* Chrome, Safari, Opera */

    -moz-column-count:auto;
    -moz-column-rule: 2px dotted #fff;
    -moz-column-width: 220px;
    -moz-column-gap:10px;
    column-count:auto;
    column-rule: 2px dotted #fff;
    column-width: 220px;
    column-gap:10px;

    ul,li,dd {
        .m(0);
        .p(0);
        list-style: none;

    }
}
.search-item {
    width: 220px;
    .p(5px);
    .m(5px);
    overflow: hidden;

    a:hover {
        color: #8e6458;
    }

    li {
        line-height: 18px;
    }
}
.search-item-title {
    line-height: 28px;

    a {
        color: #ac8ef4;
    }
}

/* 右侧为导航页面时对应样式*/
#doc-guide {

}